.nav-label {
  color: #502cb7;
  margin: 4px;
}

.login-button {
  background-color: #502cb7;
  color: white;
}
.login-button:hover {
  color: #502cb7;
  border: none;
}

.hero-section {
  display: flex;
  padding: 100px 32px;
}

.hero-section-label {
  color: #502cb7;
  font-family: "Helvetica_Regular";
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.24px;
}
.hero-section-label-two {
  color: #000;
  font-family: "Inter";
  font-size: 20px;
}

.box-area {
  width: 1260px;
}

.left-box {
  background: linear-gradient(
    to right,
    rgb(80, 44, 183) 0%,
    rgb(40, 22, 91) 100%
  );
  width: 65%;
}
.right-box {
  width: 35%;
}
.back {
  background-color: #502cb7;
}

.inp input:focus {
  border: 2px solid #502cb7;
  outline: none;
}

.inp label {
  color: #6e6e6e;
}
.search {
  border: 2px solid #502cb7;
}

.head {
  background-color: rgb(80, 44, 183);
  color: white;
}

.list {
  cursor: pointer;
}
.list:hover {
  background-color: rgb(220, 239, 247);
}

.drop {
  background-color: rgb(111, 77, 204);
}
.hover:hover {
  background-color: rgb(136, 107, 214);
}

.user {
  color: #502cb7;
}

.grid-title {
  background: #d0bfff99;
}

.gride {
  border: 1.4px solid #4c40d19e;
  border-radius: 20px;
  box-shadow: 0 0 10px 8px #4c40d133;
}
.g{
  border: 1.4px solid #4c40d19e;
  border-radius: 20px;
  box-shadow: 0 0 10px 8px #4c40d133;
}
.card {
  border: 1.4px solid #4c40d19e;
  border-radius: 20px;
}
.color {
  color: #2c42b7;
}
.color-green{
  color: #2cb74b;
}

.abc{
  background-color: white;
  border-radius: 10px;
  color: #2c42b7;
}
.no-placeholder input::placeholder {
  opacity: 0; /* Hide the placeholder text */
}